import React, { FunctionComponent } from 'react';

export interface {{pascalCase name}}Props {
  label?: string;
}

export const {{pascalCase name}}: FunctionComponent<{{pascalCase name}}Props> = ({ label }) => {
  return <div>{label}</div>;
};
